<form class="example-form" (submit)="onSubmit(myControl)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company name</mat-label>
      <input type="text"
             placeholder=""
             aria-label="Company name"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete 
        autoActiveFirstOption 
        (optionSelected)="optionSelected.next($event)"
        #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>